ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIAQEM_0_LC_1_11_5 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIAQEM[0] }
clb_pack LT_1_11 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIAQEM_0_LC_1_11_5 }
set_location LT_1_11 1 11
ble_pack SPI_Master_CS_Inst.r_SM_CS_RNIIIL41_1_LC_2_9_3 { SPI_Master_CS_Inst.r_SM_CS_RNIIIL41[1] }
ble_pack r_Master_TX_DV_LC_2_9_4 { SPI_Master_CS_Inst.r_SM_CS_RNI89I32[1], r_Master_TX_DV }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIB7RG_6_LC_2_9_7 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIB7RG[6] }
clb_pack LT_2_9 { SPI_Master_CS_Inst.r_SM_CS_RNIIIL41_1_LC_2_9_3, r_Master_TX_DV_LC_2_9_4, SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIB7RG_6_LC_2_9_7 }
set_location LT_2_9 2 9
ble_pack SPI_Master_CS_Inst.r_SM_CS_RNIGJRG2_1_LC_2_10_1 { SPI_Master_CS_Inst.r_SM_CS_RNIGJRG2[1] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_0_LC_2_10_2 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[0], SPI_Master_CS_Inst.r_CS_Inactive_Count[0] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_2_LC_2_10_3 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[2], SPI_Master_CS_Inst.r_CS_Inactive_Count[2] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_3_LC_2_10_4 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[3], SPI_Master_CS_Inst.r_CS_Inactive_Count[3] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_5_LC_2_10_5 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[5], SPI_Master_CS_Inst.r_CS_Inactive_Count[5] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_1_LC_2_10_6 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[1], SPI_Master_CS_Inst.r_CS_Inactive_Count[1] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_4_LC_2_10_7 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[4], SPI_Master_CS_Inst.r_CS_Inactive_Count[4] }
clb_pack LT_2_10 { SPI_Master_CS_Inst.r_SM_CS_RNIGJRG2_1_LC_2_10_1, SPI_Master_CS_Inst.r_CS_Inactive_Count_0_LC_2_10_2, SPI_Master_CS_Inst.r_CS_Inactive_Count_2_LC_2_10_3, SPI_Master_CS_Inst.r_CS_Inactive_Count_3_LC_2_10_4, SPI_Master_CS_Inst.r_CS_Inactive_Count_5_LC_2_10_5, SPI_Master_CS_Inst.r_CS_Inactive_Count_1_LC_2_10_6, SPI_Master_CS_Inst.r_CS_Inactive_Count_4_LC_2_10_7 }
set_location LT_2_10 2 10
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c_0_LC_2_11_0 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[0] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_0_THRU_LUT4_0_LC_2_11_1 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_0_THRU_LUT4_0, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[1] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_1_THRU_LUT4_0_LC_2_11_2 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_1_THRU_LUT4_0, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[2] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_2_THRU_LUT4_0_LC_2_11_3 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_2_THRU_LUT4_0, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[3] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_3_THRU_LUT4_0_LC_2_11_4 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_3_THRU_LUT4_0, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[4] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_4_THRU_LUT4_0_LC_2_11_5 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_4_THRU_LUT4_0, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[5] }
ble_pack SPI_Master_CS_Inst.r_CS_Inactive_Count_6_LC_2_11_6 { SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[6], SPI_Master_CS_Inst.r_CS_Inactive_Count[6] }
clb_pack LT_2_11 { SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c_0_LC_2_11_0, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_0_THRU_LUT4_0_LC_2_11_1, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_1_THRU_LUT4_0_LC_2_11_2, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_2_THRU_LUT4_0_LC_2_11_3, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_3_THRU_LUT4_0_LC_2_11_4, SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_4_THRU_LUT4_0_LC_2_11_5, SPI_Master_CS_Inst.r_CS_Inactive_Count_6_LC_2_11_6 }
set_location LT_2_11 2 11
ble_pack SPI_Master_CS_Inst.o_RX_Count_1_LC_2_12_0 { SPI_Master_CS_Inst.o_RX_Count_RNO[1], SPI_Master_CS_Inst.o_RX_Count[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_ADC_Word4_LC_2_12_1 { SPI_Master_CS_Inst.SPI_Master_Inst.r_ADC_Word4 }
ble_pack SPI_Master_CS_Inst.o_RX_Count_0_LC_2_12_4 { SPI_Master_CS_Inst.o_RX_Count_RNO[0], SPI_Master_CS_Inst.o_RX_Count[0] }
clb_pack LT_2_12 { SPI_Master_CS_Inst.o_RX_Count_1_LC_2_12_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_ADC_Word4_LC_2_12_1, SPI_Master_CS_Inst.o_RX_Count_0_LC_2_12_4 }
set_location LT_2_12 2 12
ble_pack r_ADC_Word_9_LC_2_13_0 { r_ADC_Word_RNO[9], r_ADC_Word[9] }
ble_pack r_ADC_Word_7_LC_2_13_1 { r_ADC_Word_RNO[7], r_ADC_Word[7] }
ble_pack r_ADC_Word_5_LC_2_13_2 { r_ADC_Word_RNO[5], r_ADC_Word[5] }
ble_pack r_ADC_Word_8_LC_2_13_3 { r_ADC_Word_RNO[8], r_ADC_Word[8] }
ble_pack r_ADC_Word_10_LC_2_13_4 { r_ADC_Word_RNO[10], r_ADC_Word[10] }
ble_pack r_ADC_Word_11_LC_2_13_5 { r_ADC_Word_RNO[11], r_ADC_Word[11] }
ble_pack r_ADC_Word_12_LC_2_13_6 { r_ADC_Word_RNO[12], r_ADC_Word[12] }
ble_pack r_ADC_Word_6_LC_2_13_7 { r_ADC_Word_RNO[6], r_ADC_Word[6] }
clb_pack LT_2_13 { r_ADC_Word_9_LC_2_13_0, r_ADC_Word_7_LC_2_13_1, r_ADC_Word_5_LC_2_13_2, r_ADC_Word_8_LC_2_13_3, r_ADC_Word_10_LC_2_13_4, r_ADC_Word_11_LC_2_13_5, r_ADC_Word_12_LC_2_13_6, r_ADC_Word_6_LC_2_13_7 }
set_location LT_2_13 2 13
ble_pack SPI_Master_CS_Inst.r_SM_CS_0_LC_4_9_5 { SPI_Master_CS_Inst.r_SM_CS_RNO[0], SPI_Master_CS_Inst.r_SM_CS[0] }
clb_pack LT_4_9 { SPI_Master_CS_Inst.r_SM_CS_0_LC_4_9_5 }
set_location LT_4_9 4 9
ble_pack SPI_Master_CS_Inst.r_SM_CS_RNINRG01_1_LC_4_10_0 { SPI_Master_CS_Inst.r_SM_CS_RNINRG01[1] }
ble_pack SPI_Master_CS_Inst.r_CS_n_LC_4_10_1 { SPI_Master_CS_Inst.r_CS_n_RNO, SPI_Master_CS_Inst.r_CS_n }
ble_pack SPI_Master_CS_Inst.r_TX_Count_RNIL64U_0_LC_4_10_2 { SPI_Master_CS_Inst.r_TX_Count_RNIL64U[0] }
ble_pack SPI_Master_CS_Inst.r_SM_CS_RNO_0_0_LC_4_10_4 { SPI_Master_CS_Inst.r_SM_CS_RNO_0[0] }
ble_pack SPI_Master_CS_Inst.r_TX_Count_0_LC_4_10_5 { SPI_Master_CS_Inst.r_TX_Count_RNO[0], SPI_Master_CS_Inst.r_TX_Count[0] }
ble_pack SPI_Master_CS_Inst.r_TX_Count_1_LC_4_10_6 { SPI_Master_CS_Inst.r_TX_Count_RNO[1], SPI_Master_CS_Inst.r_TX_Count[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready_LC_4_10_7 { SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready_RNO, SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready }
clb_pack LT_4_10 { SPI_Master_CS_Inst.r_SM_CS_RNINRG01_1_LC_4_10_0, SPI_Master_CS_Inst.r_CS_n_LC_4_10_1, SPI_Master_CS_Inst.r_TX_Count_RNIL64U_0_LC_4_10_2, SPI_Master_CS_Inst.r_SM_CS_RNO_0_0_LC_4_10_4, SPI_Master_CS_Inst.r_TX_Count_0_LC_4_10_5, SPI_Master_CS_Inst.r_TX_Count_1_LC_4_10_6, SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready_LC_4_10_7 }
set_location LT_4_10 4 10
ble_pack SPI_Master_CS_Inst.r_SM_CS_1_LC_4_11_0 { SPI_Master_CS_Inst.r_SM_CS_RNO[1], SPI_Master_CS_Inst.r_SM_CS[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_2_LC_4_11_1 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNO[2], SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_0_LC_4_11_3 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNO[0], SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_1_LC_4_11_5 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNO[1], SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge_LC_4_11_6 { SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge_RNO, SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge }
clb_pack LT_4_11 { SPI_Master_CS_Inst.r_SM_CS_1_LC_4_11_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_2_LC_4_11_1, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_0_LC_4_11_3, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_1_LC_4_11_5, SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge_LC_4_11_6 }
set_location LT_4_11 4 11
ble_pack r_LED_Count_0_LC_4_12_0 { r_LED_Count_RNO[0], r_LED_Count[0], r_LED_Count_cry_c[0] }
ble_pack r_LED_Count_1_LC_4_12_1 { r_LED_Count_RNO[1], r_LED_Count[1], r_LED_Count_cry_c[1] }
ble_pack r_LED_Count_2_LC_4_12_2 { r_LED_Count_RNO[2], r_LED_Count[2], r_LED_Count_cry_c[2] }
ble_pack r_LED_Count_3_LC_4_12_3 { r_LED_Count_RNO[3], r_LED_Count[3], r_LED_Count_cry_c[3] }
ble_pack r_LED_Count_4_LC_4_12_4 { r_LED_Count_RNO[4], r_LED_Count[4], r_LED_Count_cry_c[4] }
ble_pack r_LED_Count_5_LC_4_12_5 { r_LED_Count_RNO[5], r_LED_Count[5], r_LED_Count_cry_c[5] }
ble_pack r_LED_Count_6_LC_4_12_6 { r_LED_Count_RNO[6], r_LED_Count[6], r_LED_Count_cry_c[6] }
ble_pack r_LED_Count_7_LC_4_12_7 { r_LED_Count_RNO[7], r_LED_Count[7] }
clb_pack LT_4_12 { r_LED_Count_0_LC_4_12_0, r_LED_Count_1_LC_4_12_1, r_LED_Count_2_LC_4_12_2, r_LED_Count_3_LC_4_12_3, r_LED_Count_4_LC_4_12_4, r_LED_Count_5_LC_4_12_5, r_LED_Count_6_LC_4_12_6, r_LED_Count_7_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack r_LED_Enable_2_cry_0_c_inv_LC_4_13_0 { r_LED_Enable_2_cry_0_c_inv, r_LED_Enable_2_cry_0_c }
ble_pack r_LED_Enable_2_cry_1_c_inv_LC_4_13_1 { r_LED_Enable_2_cry_1_c_inv, r_LED_Enable_2_cry_1_c }
ble_pack r_LED_Enable_2_cry_2_c_inv_LC_4_13_2 { r_LED_Enable_2_cry_2_c_inv, r_LED_Enable_2_cry_2_c }
ble_pack r_LED_Enable_2_cry_3_c_inv_LC_4_13_3 { r_LED_Enable_2_cry_3_c_inv, r_LED_Enable_2_cry_3_c }
ble_pack r_LED_Enable_2_cry_4_c_inv_LC_4_13_4 { r_LED_Enable_2_cry_4_c_inv, r_LED_Enable_2_cry_4_c }
ble_pack r_LED_Enable_2_cry_5_c_inv_LC_4_13_5 { r_LED_Enable_2_cry_5_c_inv, r_LED_Enable_2_cry_5_c }
ble_pack r_LED_Enable_2_cry_6_c_inv_LC_4_13_6 { r_LED_Enable_2_cry_6_c_inv, r_LED_Enable_2_cry_6_c }
ble_pack r_LED_Enable_2_cry_7_c_inv_LC_4_13_7 { r_LED_Enable_2_cry_7_c_inv, r_LED_Enable_2_cry_7_c }
clb_pack LT_4_13 { r_LED_Enable_2_cry_0_c_inv_LC_4_13_0, r_LED_Enable_2_cry_1_c_inv_LC_4_13_1, r_LED_Enable_2_cry_2_c_inv_LC_4_13_2, r_LED_Enable_2_cry_3_c_inv_LC_4_13_3, r_LED_Enable_2_cry_4_c_inv_LC_4_13_4, r_LED_Enable_2_cry_5_c_inv_LC_4_13_5, r_LED_Enable_2_cry_6_c_inv_LC_4_13_6, r_LED_Enable_2_cry_7_c_inv_LC_4_13_7 }
set_location LT_4_13 4 13
ble_pack r_LED_Enable_LC_4_14_0 { r_LED_Enable_THRU_LUT4_0, r_LED_Enable }
ble_pack r_LED_Enable_RNICCLD_LC_4_14_3 { r_LED_Enable_RNICCLD }
clb_pack LT_4_14 { r_LED_Enable_LC_4_14_0, r_LED_Enable_RNICCLD_LC_4_14_3 }
set_location LT_4_14 4 14
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI3SV93_2_LC_5_9_0 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI3SV93[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_0_LC_5_9_1 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[0], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_3_LC_5_9_2 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[3], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[3] }
ble_pack SPI_Master_CS_Inst.r_SM_CS_RNIDN0Q_0_LC_5_9_5 { SPI_Master_CS_Inst.r_SM_CS_RNIDN0Q[0] }
clb_pack LT_5_9 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI3SV93_2_LC_5_9_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_0_LC_5_9_1, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_3_LC_5_9_2, SPI_Master_CS_Inst.r_SM_CS_RNIDN0Q_0_LC_5_9_5 }
set_location LT_5_9 5 9
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI1UKO1_4_LC_5_10_0 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI1UKO1[4] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_2_LC_5_10_1 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[2], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI2UAH1_2_LC_5_10_2 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI2UAH1[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNIVABM_1_LC_5_10_3 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNIVABM[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI0ESN1_4_LC_5_10_4 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI0ESN1[4] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_1_LC_5_10_5 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[1], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_1_LC_5_10_6 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[1], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_2_LC_5_10_7 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[2], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[2] }
clb_pack LT_5_10 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI1UKO1_4_LC_5_10_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_2_LC_5_10_1, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI2UAH1_2_LC_5_10_2, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNIVABM_1_LC_5_10_3, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI0ESN1_4_LC_5_10_4, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_1_LC_5_10_5, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_1_LC_5_10_6, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_2_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO_0_3_LC_5_11_0 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO_0[3] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_3_LC_5_11_1 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[3], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[3] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_0_LC_5_11_2 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[0], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI38051_2_LC_5_11_3 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI38051[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0_LC_5_11_6 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH[0] }
clb_pack LT_5_11 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO_0_3_LC_5_11_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_3_LC_5_11_1, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_0_LC_5_11_2, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI38051_2_LC_5_11_3, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0_LC_5_11_6 }
set_location LT_5_11 5 11
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_1_0_LC_5_12_0 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_1[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2_2_LC_5_12_2 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN_0_LC_5_12_3 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_0_2_LC_5_12_4 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_0[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0_0_LC_5_12_5 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_1_2_LC_5_12_6 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_1[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2_LC_5_12_7 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5[2] }
clb_pack LT_5_12 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_1_0_LC_5_12_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2_2_LC_5_12_2, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN_0_LC_5_12_3, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_0_2_LC_5_12_4, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0_0_LC_5_12_5, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_1_2_LC_5_12_6, SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2_LC_5_12_7 }
set_location LT_5_12 5 12
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_3_LC_5_13_0 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[3], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[3] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_4_LC_5_13_1 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[4], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[4] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV_LC_5_13_2 { SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN_0_SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV_REP_LUT4_0, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_5_LC_5_13_3 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[5], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[5] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_7_LC_5_13_4 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[7], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[7] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_2_LC_5_13_5 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[2], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_6_LC_5_13_6 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[6], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[6] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_1_LC_5_13_7 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[1], SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[1] }
clb_pack LT_5_13 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_3_LC_5_13_0, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_4_LC_5_13_1, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV_LC_5_13_2, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_5_LC_5_13_3, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_7_LC_5_13_4, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_2_LC_5_13_5, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_6_LC_5_13_6, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_1_LC_5_13_7 }
set_location LT_5_13 5 13
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_LC_6_9_4 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_RNO, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk }
clb_pack LT_6_9 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_LC_6_9_4 }
set_location LT_6_9 6 9
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c_0_LC_6_10_0 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[0] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_0_THRU_LUT4_0_LC_6_10_1 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_0_THRU_LUT4_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[1] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_1_THRU_LUT4_0_LC_6_10_2 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_1_THRU_LUT4_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[2] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_2_THRU_LUT4_0_LC_6_10_3 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_2_THRU_LUT4_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[3] }
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_4_LC_6_10_4 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[4], SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[4] }
clb_pack LT_6_10 { SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c_0_LC_6_10_0, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_0_THRU_LUT4_0_LC_6_10_1, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_1_THRU_LUT4_0_LC_6_10_2, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_2_THRU_LUT4_0_LC_6_10_3, SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_4_LC_6_10_4 }
set_location LT_6_10 6 10
ble_pack CONSTANT_ONE_LUT4_LC_6_11_1 { CONSTANT_ONE_LUT4 }
clb_pack LT_6_11 { CONSTANT_ONE_LUT4_LC_6_11_1 }
set_location LT_6_11 6 11
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er_0_LC_6_13_0 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er_0_THRU_LUT4_0, SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er[0] }
clb_pack LT_6_13 { SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er_0_LC_6_13_0 }
set_location LT_6_13 6 13
ble_pack SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk_LC_7_9_3 { SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk_THRU_LUT4_0, SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk }
clb_pack LT_7_9 { SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk_LC_7_9_3 }
set_location LT_7_9 7 9
set_location i_Switch_1_ibuf_gb_io_gb 0 8
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io o_SPI_CS_n 65
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_B 99
set_io o_Segment1_D 91
set_io o_SPI_MOSI 64
set_io o_SPI_Clk 62
set_io i_SPI_MISO 63
set_io o_Segment2_E 94
set_io o_Segment1_A 3
