set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[1] 5 13 7 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[1]_LC_0)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[1] 5 13 7 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[1]_LC_0)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[2] 5 13 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[2]_LC_1)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[2] 5 13 5 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[2]_LC_1)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[3] 5 13 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[3]_LC_2)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[3] 5 13 0 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[3]_LC_2)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[4] 5 13 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[4]_LC_3)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[4] 5 13 1 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[4]_LC_3)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[5] 5 13 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[5]_LC_4)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[5] 5 13 3 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[5]_LC_4)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[6] 5 13 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[6]_LC_5)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[6] 5 13 6 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[6]_LC_5)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_RNO[7] 5 13 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[7]_LC_6)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[7] 5 13 4 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte[7]_LC_6)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready_RNO 4 10 7 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready_LC_7)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready 4 10 7 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_TX_Ready_LC_7)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_ADC_Word4 2 12 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_ADC_Word4_LC_8)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN[0] 5 12 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN[0]_LC_9)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_0[2] 5 12 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_0[2]_LC_10)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_1[2] 5 12 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_1[2]_LC_11)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5[2] 5 12 7 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5[2]_LC_12)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2[2] 5 12 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI7BP5_2[2]_LC_13)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH[0] 5 11 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH[0]_LC_14)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0[0] 5 12 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_0[0]_LC_15)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_1[0] 5 12 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNIQRNH_1[0]_LC_16)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNO[0] 4 11 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[0]_LC_17)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[0] 4 11 3 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[0]_LC_17)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNO[1] 4 11 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[1]_LC_18)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[1] 4 11 5 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[1]_LC_18)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNO[2] 4 11 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[2]_LC_19)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[2] 4 11 1 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count[2]_LC_19)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI2UAH1[2] 5 10 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI2UAH1[2]_LC_20)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI38051[2] 5 11 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI38051[2]_LC_21)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI3SV93[2] 5 9 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNI3SV93[2]_LC_22)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[0] 5 11 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[0]_LC_23)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[0] 5 11 2 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[0]_LC_23)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO_0[3] 5 11 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO_0[3]_LC_24)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[1] 5 10 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[1]_LC_25)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[1] 5 10 5 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[1]_LC_25)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[2] 5 10 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[2]_LC_26)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[2] 5 10 1 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[2]_LC_26)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count_RNO[3] 5 11 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[3]_LC_27)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[3] 5 11 1 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Count[3]_LC_27)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI0ESN1[4] 5 10 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI0ESN1[4]_LC_28)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI1UKO1[4] 5 10 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNI1UKO1[4]_LC_29)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNIVABM[1] 5 10 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNIVABM[1]_LC_30)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[0] 5 9 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[0]_LC_31)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[0] 5 9 1 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[0]_LC_31)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[1] 5 10 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[1]_LC_32)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[1] 5 10 6 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[1]_LC_32)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[2] 5 10 7 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[2]_LC_33)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[2] 5 10 7 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[2]_LC_33)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[3] 5 9 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[3]_LC_34)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[3] 5 9 2 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[3]_LC_34)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_RNO[4] 6 10 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[4]_LC_35)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[4] 6 10 4 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges[4]_LC_35)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_RNO 6 9 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_LC_36)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk 6 9 4 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_LC_36)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge_RNO 4 11 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge_LC_37)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge 4 11 6 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_Trailing_Edge_LC_37)
set_location SPI_Master_CS_Inst.o_RX_Count_RNO[0] 2 12 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.o_RX_Count[0]_LC_38)
set_location SPI_Master_CS_Inst.o_RX_Count[0] 2 12 4 # SB_DFF (LogicCell: SPI_Master_CS_Inst.o_RX_Count[0]_LC_38)
set_location SPI_Master_CS_Inst.o_RX_Count_RNO[1] 2 12 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.o_RX_Count[1]_LC_39)
set_location SPI_Master_CS_Inst.o_RX_Count[1] 2 12 0 # SB_DFF (LogicCell: SPI_Master_CS_Inst.o_RX_Count[1]_LC_39)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIAQEM[0] 1 11 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIAQEM[0]_LC_40)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIB7RG[6] 2 9 7 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_RNIB7RG[6]_LC_41)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[0] 2 10 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[0]_LC_42)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[0] 2 10 2 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[0]_LC_42)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[1] 2 10 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[1]_LC_43)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[1] 2 10 6 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[1]_LC_43)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[2] 2 10 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[2]_LC_44)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[2] 2 10 3 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[2]_LC_44)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[3] 2 10 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[3]_LC_45)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[3] 2 10 4 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[3]_LC_45)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[4] 2 10 7 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[4]_LC_46)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[4] 2 10 7 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[4]_LC_46)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[5] 2 10 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[5]_LC_47)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[5] 2 10 5 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[5]_LC_47)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_RNO[6] 2 11 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[6]_LC_48)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count[6] 2 11 6 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count[6]_LC_48)
set_location SPI_Master_CS_Inst.r_CS_n_RNO 4 10 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_n_LC_49)
set_location SPI_Master_CS_Inst.r_CS_n 4 10 1 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.r_CS_n_LC_49)
set_location SPI_Master_CS_Inst.r_SM_CS_RNI89I32[1] 2 9 4 # SB_LUT4 (LogicCell: r_Master_TX_DV_LC_50)
set_location r_Master_TX_DV 2 9 4 # SB_DFF (LogicCell: r_Master_TX_DV_LC_50)
set_location SPI_Master_CS_Inst.r_SM_CS_RNIDN0Q[0] 5 9 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS_RNIDN0Q[0]_LC_51)
set_location SPI_Master_CS_Inst.r_SM_CS_RNIGJRG2[1] 2 10 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS_RNIGJRG2[1]_LC_52)
set_location SPI_Master_CS_Inst.r_SM_CS_RNIIIL41[1] 2 9 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS_RNIIIL41[1]_LC_53)
set_location SPI_Master_CS_Inst.r_SM_CS_RNINRG01[1] 4 10 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS_RNINRG01[1]_LC_54)
set_location SPI_Master_CS_Inst.r_SM_CS_RNO[0] 4 9 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS[0]_LC_55)
set_location SPI_Master_CS_Inst.r_SM_CS[0] 4 9 5 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_SM_CS[0]_LC_55)
set_location SPI_Master_CS_Inst.r_SM_CS_RNO_0[0] 4 10 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS_RNO_0[0]_LC_56)
set_location SPI_Master_CS_Inst.r_SM_CS_RNO[1] 4 11 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_SM_CS[1]_LC_57)
set_location SPI_Master_CS_Inst.r_SM_CS[1] 4 11 0 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_SM_CS[1]_LC_57)
set_location SPI_Master_CS_Inst.r_TX_Count_RNIL64U[0] 4 10 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_TX_Count_RNIL64U[0]_LC_58)
set_location SPI_Master_CS_Inst.r_TX_Count_RNO[0] 4 10 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_TX_Count[0]_LC_59)
set_location SPI_Master_CS_Inst.r_TX_Count[0] 4 10 5 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_TX_Count[0]_LC_59)
set_location SPI_Master_CS_Inst.r_TX_Count_RNO[1] 4 10 6 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_TX_Count[1]_LC_60)
set_location SPI_Master_CS_Inst.r_TX_Count[1] 4 10 6 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.r_TX_Count[1]_LC_60)
set_location r_ADC_Word_RNO[10] 2 13 4 # SB_LUT4 (LogicCell: r_ADC_Word[10]_LC_61)
set_location r_ADC_Word[10] 2 13 4 # SB_DFF (LogicCell: r_ADC_Word[10]_LC_61)
set_location r_ADC_Word_RNO[11] 2 13 5 # SB_LUT4 (LogicCell: r_ADC_Word[11]_LC_62)
set_location r_ADC_Word[11] 2 13 5 # SB_DFF (LogicCell: r_ADC_Word[11]_LC_62)
set_location r_ADC_Word_RNO[12] 2 13 6 # SB_LUT4 (LogicCell: r_ADC_Word[12]_LC_63)
set_location r_ADC_Word[12] 2 13 6 # SB_DFF (LogicCell: r_ADC_Word[12]_LC_63)
set_location r_ADC_Word_RNO[5] 2 13 2 # SB_LUT4 (LogicCell: r_ADC_Word[5]_LC_64)
set_location r_ADC_Word[5] 2 13 2 # SB_DFF (LogicCell: r_ADC_Word[5]_LC_64)
set_location r_ADC_Word_RNO[6] 2 13 7 # SB_LUT4 (LogicCell: r_ADC_Word[6]_LC_65)
set_location r_ADC_Word[6] 2 13 7 # SB_DFF (LogicCell: r_ADC_Word[6]_LC_65)
set_location r_ADC_Word_RNO[7] 2 13 1 # SB_LUT4 (LogicCell: r_ADC_Word[7]_LC_66)
set_location r_ADC_Word[7] 2 13 1 # SB_DFF (LogicCell: r_ADC_Word[7]_LC_66)
set_location r_ADC_Word_RNO[8] 2 13 3 # SB_LUT4 (LogicCell: r_ADC_Word[8]_LC_67)
set_location r_ADC_Word[8] 2 13 3 # SB_DFF (LogicCell: r_ADC_Word[8]_LC_67)
set_location r_ADC_Word_RNO[9] 2 13 0 # SB_LUT4 (LogicCell: r_ADC_Word[9]_LC_68)
set_location r_ADC_Word[9] 2 13 0 # SB_DFF (LogicCell: r_ADC_Word[9]_LC_68)
set_location r_LED_Count_RNO[0] 4 12 0 # SB_LUT4 (LogicCell: r_LED_Count[0]_LC_69)
set_location r_LED_Count[0] 4 12 0 # SB_DFF (LogicCell: r_LED_Count[0]_LC_69)
set_location r_LED_Count_cry_c[0] 4 12 0 # SB_CARRY (LogicCell: r_LED_Count[0]_LC_69)
set_location r_LED_Count_RNO[1] 4 12 1 # SB_LUT4 (LogicCell: r_LED_Count[1]_LC_70)
set_location r_LED_Count[1] 4 12 1 # SB_DFF (LogicCell: r_LED_Count[1]_LC_70)
set_location r_LED_Count_cry_c[1] 4 12 1 # SB_CARRY (LogicCell: r_LED_Count[1]_LC_70)
set_location r_LED_Count_RNO[2] 4 12 2 # SB_LUT4 (LogicCell: r_LED_Count[2]_LC_71)
set_location r_LED_Count[2] 4 12 2 # SB_DFF (LogicCell: r_LED_Count[2]_LC_71)
set_location r_LED_Count_cry_c[2] 4 12 2 # SB_CARRY (LogicCell: r_LED_Count[2]_LC_71)
set_location r_LED_Count_RNO[3] 4 12 3 # SB_LUT4 (LogicCell: r_LED_Count[3]_LC_72)
set_location r_LED_Count[3] 4 12 3 # SB_DFF (LogicCell: r_LED_Count[3]_LC_72)
set_location r_LED_Count_cry_c[3] 4 12 3 # SB_CARRY (LogicCell: r_LED_Count[3]_LC_72)
set_location r_LED_Count_RNO[4] 4 12 4 # SB_LUT4 (LogicCell: r_LED_Count[4]_LC_73)
set_location r_LED_Count[4] 4 12 4 # SB_DFF (LogicCell: r_LED_Count[4]_LC_73)
set_location r_LED_Count_cry_c[4] 4 12 4 # SB_CARRY (LogicCell: r_LED_Count[4]_LC_73)
set_location r_LED_Count_RNO[5] 4 12 5 # SB_LUT4 (LogicCell: r_LED_Count[5]_LC_74)
set_location r_LED_Count[5] 4 12 5 # SB_DFF (LogicCell: r_LED_Count[5]_LC_74)
set_location r_LED_Count_cry_c[5] 4 12 5 # SB_CARRY (LogicCell: r_LED_Count[5]_LC_74)
set_location r_LED_Count_RNO[6] 4 12 6 # SB_LUT4 (LogicCell: r_LED_Count[6]_LC_75)
set_location r_LED_Count[6] 4 12 6 # SB_DFF (LogicCell: r_LED_Count[6]_LC_75)
set_location r_LED_Count_cry_c[6] 4 12 6 # SB_CARRY (LogicCell: r_LED_Count[6]_LC_75)
set_location r_LED_Count_RNO[7] 4 12 7 # SB_LUT4 (LogicCell: r_LED_Count[7]_LC_76)
set_location r_LED_Count[7] 4 12 7 # SB_DFF (LogicCell: r_LED_Count[7]_LC_76)
set_location r_LED_Enable_2_cry_0_c_inv 4 13 0 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_0_c_inv_LC_77)
set_location r_LED_Enable_2_cry_0_c 4 13 0 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_0_c_inv_LC_77)
set_location r_LED_Enable_2_cry_1_c_inv 4 13 1 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_1_c_inv_LC_78)
set_location r_LED_Enable_2_cry_1_c 4 13 1 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_1_c_inv_LC_78)
set_location r_LED_Enable_2_cry_2_c_inv 4 13 2 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_2_c_inv_LC_79)
set_location r_LED_Enable_2_cry_2_c 4 13 2 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_2_c_inv_LC_79)
set_location r_LED_Enable_2_cry_3_c_inv 4 13 3 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_3_c_inv_LC_80)
set_location r_LED_Enable_2_cry_3_c 4 13 3 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_3_c_inv_LC_80)
set_location r_LED_Enable_2_cry_4_c_inv 4 13 4 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_4_c_inv_LC_81)
set_location r_LED_Enable_2_cry_4_c 4 13 4 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_4_c_inv_LC_81)
set_location r_LED_Enable_2_cry_5_c_inv 4 13 5 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_5_c_inv_LC_82)
set_location r_LED_Enable_2_cry_5_c 4 13 5 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_5_c_inv_LC_82)
set_location r_LED_Enable_2_cry_6_c_inv 4 13 6 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_6_c_inv_LC_83)
set_location r_LED_Enable_2_cry_6_c 4 13 6 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_6_c_inv_LC_83)
set_location r_LED_Enable_2_cry_7_c_inv 4 13 7 # SB_LUT4 (LogicCell: r_LED_Enable_2_cry_7_c_inv_LC_84)
set_location r_LED_Enable_2_cry_7_c 4 13 7 # SB_CARRY (LogicCell: r_LED_Enable_2_cry_7_c_inv_LC_84)
set_location r_LED_Enable_RNICCLD 4 14 3 # SB_LUT4 (LogicCell: r_LED_Enable_RNICCLD_LC_85)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er_0_THRU_LUT4_0 6 13 0 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er[0]_LC_86)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er[0] 6 13 0 # SB_DFFER (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_Byte_er[0]_LC_86)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk_THRU_LUT4_0 7 9 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk_LC_87)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk 7 9 3 # SB_DFFS (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_SPI_Clk_LC_87)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_RX_Bit_Count_RNI17HN_0_SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV_REP_LUT4_0 5 13 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV_LC_88)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV 5 13 2 # SB_DFFR (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.o_RX_DV_LC_88)
set_location r_LED_Enable_THRU_LUT4_0 4 14 0 # SB_LUT4 (LogicCell: r_LED_Enable_LC_89)
set_location r_LED_Enable 4 14 0 # SB_DFF (LogicCell: r_LED_Enable_LC_89)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_0_THRU_LUT4_0 6 10 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_0_THRU_LUT4_0_LC_90)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[1] 6 10 1 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_0_THRU_LUT4_0_LC_90)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_1_THRU_LUT4_0 6 10 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_1_THRU_LUT4_0_LC_91)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[2] 6 10 2 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_1_THRU_LUT4_0_LC_91)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_2_THRU_LUT4_0 6 10 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_2_THRU_LUT4_0_LC_92)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[3] 6 10 3 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_2_THRU_LUT4_0_LC_92)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_0_THRU_LUT4_0 2 11 1 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_0_THRU_LUT4_0_LC_93)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[1] 2 11 1 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_0_THRU_LUT4_0_LC_93)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_1_THRU_LUT4_0 2 11 2 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_1_THRU_LUT4_0_LC_94)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[2] 2 11 2 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_1_THRU_LUT4_0_LC_94)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_2_THRU_LUT4_0 2 11 3 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_2_THRU_LUT4_0_LC_95)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[3] 2 11 3 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_2_THRU_LUT4_0_LC_95)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_3_THRU_LUT4_0 2 11 4 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_3_THRU_LUT4_0_LC_96)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[4] 2 11 4 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_3_THRU_LUT4_0_LC_96)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_4_THRU_LUT4_0 2 11 5 # SB_LUT4 (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_4_THRU_LUT4_0_LC_97)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[5] 2 11 5 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_4_THRU_LUT4_0_LC_97)
set_location SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[0] 6 10 0 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.SPI_Master_Inst.r_SPI_Clk_Edges_cry_c[0]_LC_98)
set_location SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[0] 2 11 0 # SB_CARRY (LogicCell: SPI_Master_CS_Inst.r_CS_Inactive_Count_cry_c[0]_LC_99)
set_location GND -1 -1 -1 # GND
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_SPI_MISO_ibuf 13 9 0 # ICE_IO
set_io o_SPI_CS_n_obuf 13 11 1 # ICE_IO
set_io o_SPI_Clk_obuf 13 8 1 # ICE_IO
set_io o_SPI_MOSI_obuf 13 11 0 # ICE_IO
set_io o_Segment1_A_obuf 0 13 1 # ICE_IO
set_io o_Segment1_B_obuf 0 13 0 # ICE_IO
set_io o_Segment1_C_obuf 5 17 1 # ICE_IO
set_io o_Segment1_D_obuf 6 17 0 # ICE_IO
set_io o_Segment1_E_obuf 6 17 1 # ICE_IO
set_io o_Segment1_F_obuf 0 14 1 # ICE_IO
set_io o_Segment1_G_obuf 0 14 0 # ICE_IO
set_io o_Segment2_A_obuf 1 17 1 # ICE_IO
set_io o_Segment2_B_obuf 2 17 1 # ICE_IO
set_io o_Segment2_C_obuf 3 17 1 # ICE_IO
set_io o_Segment2_D_obuf 4 17 1 # ICE_IO
set_io o_Segment2_E_obuf 5 17 0 # ICE_IO
set_io o_Segment2_F_obuf 0 12 0 # ICE_IO
set_io o_Segment2_G_obuf 4 17 0 # ICE_IO
set_io i_Switch_1_ibuf_gb_io 13 4 1 # ICE_IO
set_io i_Switch_1_ibuf_gb_io_gb 0 8 1 # ICE_GB
set_location CONSTANT_ONE_LUT4 6 11 1 # SB_LUT4 (LogicCell: LC_100)
